@keyframes glowMove {
  0%   { transform: translate(0%, 0%) rotate(0deg); scale: 0.9; }
  50%  { transform: translate(15%, 15%) rotate(180deg); scale: 1.1; }
  100%  { transform: translate(0%, 0%) rotate(360deg); scale: 0.9; }
}@keyframes glowMove2 {
  0%   { transform: translate(0%, 0%) rotate(0deg); scale: 0.9; }
  50%  { transform: translate(-15%, -15%) rotate(180deg); scale: 1.1; }
  100%  { transform: translate(0%, 0%) rotate(360deg); scale: 0.9; }
}