@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: DMSans;
  src: url(../../public/assets/DMSans.ttf);
}
:root {
  font-family: DMSans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  scrollbar-width:none
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  background-color: transparent;
  color: inherit;
}

@layer components {

  .btn-back-continue {
    @apply w-48 h-14 font-bold flex items-center justify-center fixed rounded-full 
           border border-zinc-300 dark:border-white/10 
           hover:border-blue-500 dark:hover:border-orange-400 
           bg-white/10 dark:bg-white/10 text-zinc-900 dark:text-white 
           shadow-sm active:scale-95 backdrop-blur-[7px];
  }

  .studies-li{
    @apply flex justify-center items-center sm:justify-between flex-col sm:flex-row relative bg-transparent backdrop-blur-[1px] border border-zinc-800 rounded-xl p-6 w-full text-left shadow-md;
  }

  .studies-li h4{
    @apply text-xl text-center sm:text-left font-bold text-zinc-900 dark:text-white;
  }
  .studies-li p{
    @apply text-zinc-600 dark:text-zinc-400 text-sm;
  }

  @media screen and (height < 700px) {
  }
}
