.input {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
}

:root {
	--theme-bg-clr: rgb(15 23 42);
	--theme-toggle-icon: rgb(255, 255, 255);
}
:root:has(input#theme:checked) {
	--theme-toggle-light-scale: 1;
	--theme-toggle-dark-scale: 0;
	--theme-toggle-icon: rgb(0, 0, 0);
	--theme-toggle-rotate: 1turn;
	--theme-bg-scale: 1.25;
}
.theme-toggle {
	position: relative;
	width: 34px;
	height: 34px;
  margin: 0;
  padding: 0;
	display: grid;
	place-items: center;
	transition: outline 150ms ease-in-out;
	cursor: pointer;
	color: var(--theme-toggle-icon);
}
.theme-toggle > svg {
	grid-area: 1/1;
	transition: scale 300ms ease-in-out, rotate 500ms ease-in-out;
	width: 100%;
	height: 100%;
	scale: var(--theme-toggle-dark-scale, 1);
	rotate: var(--theme-toggle-rotate, 0turn);
}
.theme-toggle > svg:first-child {
	scale: var(--theme-toggle-light-scale, 0);
}

/* mask for dark theme */
.theme-mask {
	position: fixed;
	display: grid;
	isolation: isolate;
	overflow: hidden;
	inset: 0;
	grid-template-rows: repeat(25, 1fr);
	pointer-events: none;
	z-index: -1;
}
/* mask "cells" */
.theme-mask > div {
	background-color: var(--theme-bg-clr);
	scale: var(--theme-bg-scale, 0);
	transition: all 300ms ease-in-out;
	transition-delay: calc(var(--i) * 10ms);
}
