@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@font-face {
  font-family: DMSans;
  src: url(../public/DMSans.ttf);
}
:root {
  font-family: DMSans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  scrollbar-width:none
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  background-color: transparent;
  color: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
  
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to bottom left in oklab,
    oklch(55% 0.45 350) 0%,
    oklch(95% 0.4 95) 100%
  );
}

.theme {
  --bg-color: #1a1a1a;
  --main-color: #fefefe;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--bg-color);
  border-radius: 100%;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  transition: all 0.05s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.input {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
}

.icon {
  position: absolute;
  top: calc(50% -13px);
  left: calc(50% -13px);
  width: 26px;
  height: 26px;
}

.icon.icon-moon {
  fill: var(--main-color);
}

.icon.icon-sun {
  stroke: var(--main-color);
  display: none;
}

.input:checked ~ .icon.icon-sun {
  display: block;
}

.input:checked ~ .icon.icon-moon {
  display: none;
}

.theme:has(.input:checked) {
  --bg-color: #fefefe;
  --main-color: #1a1a1a;
}

.theme:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ff7519;
}

@layer components {
  .btn {
    @apply w-64 h-16 font-bold flex items-center justify-center fixed rounded-full 
           border border-zinc-300 dark:border-white/10 
           hover:border-blue-500 dark:hover:border-orange-400 
           bg-white/10 dark:bg-white/10 text-zinc-900 dark:text-white 
           shadow-sm active:scale-95 backdrop-blur-[7px];
  }

  @media screen and (height < 700px) {
    .btn {
      @apply h-12;
    }
  }
}

@keyframes glowMove {
  0%   { transform: translate(0%, 0%) rotate(0deg); scale: 0.9; }
  50%  { transform: translate(15%, 15%) rotate(180deg); scale: 1.1; }
  100%  { transform: translate(0%, 0%) rotate(360deg); scale: 0.9; }
}@keyframes glowMove2 {
  0%   { transform: translate(0%, 0%) rotate(0deg); scale: 0.9; }
  50%  { transform: translate(-15%, -15%) rotate(180deg); scale: 1.1; }
  100%  { transform: translate(0%, 0%) rotate(360deg); scale: 0.9; }
}

 body .grain {
	 position: fixed;
	 top: 0;
	 left: 0;
	 height: 100%;
	 width: 100%;
	 pointer-events: none;
	 z-index: 300;
	 transform: translateZ(0);
}
 body .grain:before {
	 content: "";
	 top: -10rem;
	 left: -10rem;
	 width: calc(100% + 20rem);
	 height: calc(100% + 20rem);
	 z-index: 9999;
	 position: fixed;
	 background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Image_gaussian_noise_example.png);
	 opacity: 0.15;
	 pointer-events: none;
	 -webkit-animation: noise 1s steps(2) infinite;
	 animation: noise 1s steps(2) infinite;
}
 @-webkit-keyframes noise {
	 to {
		 transform: translate3d(-7rem, 0, 0);
	}
}
 @keyframes noise {
	 0% {
		 transform: translate3d(0, 9rem, 0);
	}
	 10% {
		 transform: translate3d(-1rem, -4rem, 0);
	}
	 20% {
		 transform: translate3d(-8rem, 2rem, 0);
	}
	 30% {
		 transform: translate3d(9rem, -9rem, 0);
	}
	 40% {
		 transform: translate3d(-2rem, 7rem, 0);
	}
	 50% {
		 transform: translate3d(-9rem, -4rem, 0);
	}
	 60% {
		 transform: translate3d(2rem, 6rem, 0);
	}
	 70% {
		 transform: translate3d(7rem, -8rem, 0);
	}
	 80% {
		 transform: translate3d(-9rem, 1rem, 0);
	}
	 90% {
		 transform: translate3d(6rem, -5rem, 0);
	}
	 to {
		 transform: translate3d(-7rem, 0, 0);
	}
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
